y# Ignore embedded postgres runtime directory
.emberkit/

# Go build outputs
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build tags output
*.test

# Output of go coverage tool
*.out
*.cover

# Environment variables file
.env*

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directory (if using modules and vendoring)
vendor/
